@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     font-family: 'Roboto', sans-serif;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    
    min-height: 100vh;
    background-color: burlywood; 
}
 .form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px -5px rgb(0 0 0 / 30%);
    text-align: center;

 }

 .form-title{
    font-size: 2rem;
    margin-bottom: .5em;
 }

 p.form-paragraph{
    font-weight: 300;
 }
  .form-link{
    font-weight: 400;
    color: black;
  }

  .form-container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
    cursor: pointer;

  }
 
  .form-label{
    position: relative;
    --color:var(--color)#5757577e;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }
  .form-password{
    position: relative;
    --color:var(--color)#5757577e;
    font-family: 'Roboto', sans-serif;
  }
  input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e;
    
  }
   .form-submit{
    background: #3866f2;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
   }

   .form-clear{
    background: #3866f2;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em
   }

   .see{
    background: #3866f2;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em
   }

   @media (max-width:425px){
    .form-title{
        font-size: 1.8rem;
    }
   }
