@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;     
}

.wrap{
    width: 100%;
    height: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background: url(./components/assets/images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.wrap-texto{
    color: white;
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
}

/*
main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
} */
main{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    background-color: black;
    overflow-x: auto;
    flex-wrap: wrap;
}

nav {
    display: flex;
    text-transform: uppercase;
    color: black;
    text-decoration: none;   
    font-weight: bold;
    font-size: min(3vw, 2rem); 
    flex-direction: row;
    align-items: center;
}

section.WorkoutMenu{
    display: flex;
    padding: 1rem;
    justify-content: center;
    width: 100%;
        text-transform: uppercase;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.82);
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: min(3vw, 2rem);
        flex-direction: row;
        align-items: center;
}


nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin: rem;
}

li.nav-element {
    padding: 0.4rem;
    padding-right: 2rem;
    color: white;
    list-style: none;
}

.form-container{
    background-color: #fff;
    margin: auto;
/*     margin:10vh;
    margin-bottom: 0; */
    width: 90%;
    max-width: 440px;
    padding-left: max(2vw, 2rem);
    padding-right: max(2vw,2rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 5px -5px rgb(0 0 0 / 30%);
    display: grid;
    gap: 1vh;
    border-style:solid;
    border-width: 1px;
    border-color: black; 
}

/* h1 {
    display: flex;
    background-color: #424242b2;
    color: #e5982b;
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 0rem;
    width: 80vw;
    padding: 1rem;
    border-radius: 1rem;
} */

h2.form-title{
    font-size: 4vh;
    text-align: center;
    /* margin-bottom: 2rem; */
    margin-top: max(2vh,0.6rem);
    /* margin:auto; */
    /* margin-bottom: 1vh;
    margin-bottom:1vh ; */

}

p.error{
    font-weight: 300;
    color: rgb(255, 0, 0);
    height: 19px;
    margin-bottom: 2rem;
    font-size: max(1.6vh, 14px);
}

span.home-link {
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: rgb(255, 0, 0);
    font-size: 1rem;
    display: flex;
    align-items: baseline;
}
a.home-link{
    color: black;
}
a.home-link:hover{
    background: orangered;
}

.form-container > a:hover {
    color: rgb(19, 23, 140);   
}

input.field-input {
    width: 100%;
    height: 2rem;
    background: none;
    color: #555252;
    font-size: max(1vh, 16px);
    /* padding: .6em .3em; */
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e;
    /* font-style: italic; */
    font-weight: 300;
}

label.field-input{
    font-size: max(1vh,18px);
}
/* svg{
    display:none;
} */

button {
    width: 67%;
    background: #5f5a5a12;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: min(2vh, 1.2rem);
    padding: .5em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    margin: auto;
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
}

#submit, #clean, #password{
    margin: auto;
    width: 100%;
}

button:hover {
    background-color: rgba(222, 184, 135, 0.536) ;
}
svg{
    fill:rgb(0, 0, 0);
}

svg:hover {
    fill: burlywood;
}

a:link {
    text-decoration: none;
}
a:hover{
    color: burlywood;
}
a:active{
    background: rgb(240, 104, 54);
}

span > a:hover{
    color: burlywood;
}

a.register-link{
    margin-top: 4vh;
    margin-bottom: 2vh;
    justify-content: center;
    color: black;
    padding: 0;
    font-size: 1.2rem;
}

footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    color: white;
}
@media screen and (max-width: 1200px) and (min-width:400px) {


    div.wrap {
        height: 150vh;
        background-image: url(./components/assets/images/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home {
        justify-content: center;
    }

    header {
        width: 80%;
    }

    li.nav-element {
        padding-right: 0;
    }
}

@media screen and (max-width: 1800px) and (min-width:400px) {


    div.wrap {
        height: 150vh;
        background-image: url(./components/assets/images/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home {
        justify-content: center;
    }

    header {
        width: 80%;
    }

    li.nav-element {
        padding-right: 0;
    }
}

@media screen and (min-width: 400px) {}

@media screen and (max-width: 900px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

    }
} 
