@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    /* justify-content: center; */
}

.wrap{
    width: 100vw;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background: url(./components/assets/images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.wrap-texto{
    color: white;
    text-align: center;
    width: 50%;
    font-size: 42px;
}

/* html{
    display: flex;
    align-items: center;
    justify-content: center; 
}

main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
} */
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    background-color: black;
    overflow-x: auto;
    flex-wrap: wrap;
}
header{
    width: 100%;
}

nav {
    display: flex;
    text-transform: uppercase;
    color: black;
    text-decoration: none;   
    font-weight: bold;
    font-size: min(3vw, 2rem); 
    flex-direction: row;
    align-items: center;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin: rem;
}

li.nav-element {
    padding: 0.4rem;
    padding-right: 2rem;
    color: white;
    list-style: none;
}

.form-container{
    background-color: #fff;
    margin:10vh;
    margin-bottom: 0;
    width: 90%;
    max-width: 440px;
    padding: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 5px -5px rgb(0 0 0 / 30%);
    display: grid;
    gap: 0.5em;
    border-style:solid;
    border-width: 1px;
    border-color: black; 
}

/* h1 {
    display: flex;
    background-color: #424242b2;
    color: #e5982b;
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 0rem;
    width: 80vw;
    padding: 1rem;
    border-radius: 1rem;
} */

h2.form-title{
    font-size: 2rem;
    text-align: center;
    /* margin-top: 4rem; */
}

p{
    font-weight: 300;
    color: rgb(255, 0, 0);
    height: 19px;
    margin-bottom: 2rem;
}

section > a {
    font-weight: 400;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: baseline;
}

.form-container > a:hover {
    color: rgb(19, 23, 140);   
}

.field-container{
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

.field-container > input {
    width: 100%;
    height: 2rem;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    /* padding: .6em .3em; */
    margin-top:1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e;
}

button {
    width: 100%;
    background: #3866f2;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    padding: .5em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    margin: 0.5rem;
    margin-top: 0.5rem;
}

button:hover {
    color: rgb(19, 23, 140);
}

a:link {
    text-decoration: none;
}

.register-link{
    margin-top: 44rem;
    text-align: end;
    color: black;
    margin: 5rem;
    padding: 0;
}

footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    color: white;
}
@media screen and (max-width: 400px) {
.home {
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) and (min-width:400px) {

    body{
        width: 100%;    
    }
    div.wrap{
        height: 150vw;
        background-image: url(./components/assets/images/fondo.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .home{
            justify-content: center;
    }
} 

@media screen and (min-width: 1200px) {

}